<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Say Hi to the world!👋</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script
      src="https://cdn.ethers.io/lib/ethers-5.1.umd.min.js"
      type="text/javascript"
    ></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <h1 class="hello_world">Hello World!🌏</h1>
      <h2 class="counts">👋 {{counts}}</h2>
        <div style="height: 100px;">
          <h3 class="tip" v-if="polygon && isConnected">
            Hi,<strong>{{account.slice(0,4)+'...'+account.slice(account.length-4,account.length)}}</strong>,have a good day🥰
          </h3>
          <h3 class="tip" style="color:red" v-if="!polygon && isConnected">Please switch to Polygon mainnet!</h3>
        </div>
        <button @click="connectWallet" v-if="!isConnected">Connect Wallet</button>
        <div class="say_hi">
          <span class="loader" v-if="hi_loading"></span>
          <button @click="sayHi" v-if="isConnected" :disabled="!polygon">
            Say Hi!
          </button>
      </div>
    </div>
  </body>
  <script>
    const { ethereum } = window;
    const contractAddress = "0x767454d51daa4c7620b9b0e6e1723c07f9ef313a";
    const contractABI = [
      { inputs: [], stateMutability: "nonpayable", type: "constructor" },
      {
        inputs: [],
        name: "add",
        outputs: [],
        stateMutability: "nonpayable",
        type: "function",
      },
      {
        inputs: [],
        name: "getCounts",
        outputs: [{ internalType: "uint256", name: "", type: "uint256" }],
        stateMutability: "view",
        type: "function",
      },
    ];
    // 创建合约实例
    const provider = new ethers.providers.Web3Provider(ethereum);
    const signer = provider.getSigner();
    const CounterContract = new ethers.Contract(
      contractAddress,
      contractABI,
      signer
    );
    const app = Vue.createApp({
      data() {
        return {
          account: "",
          isConnected: "",
          counts: "?",
          counts_loading: false,
          hi_loading: false,
          txStatus: false,
          polygon: Boolean,
          network: ethereum.networkVersion,
        };
      },
      mounted() {
        this.checkMetaMask();
        this.checkIfWalletConnected();
        // 监听网络变化
        ethereum.on('chainChanged', (id) => {
          if(id == '0x89') {
            this.polygon = true;
            this.getCounts();
          }
        })
      },
      methods: {
        // 检查是否安装MetaMask
        checkMetaMask() {
          if (ethereum) {
            console.log(`MetaMask is available`);
          } else alert("Please download Metamask from http://metamask.io");
        },
        // 检查钱包是否连接
        async checkIfWalletConnected() {
          const accounts = await ethereum.request({
            method: "eth_accounts",
          });
          if (accounts.length) {
            this.account = accounts[0];
            this.isConnected = true;
            if(window.ethereum.chainId == '0x89') this.getCounts();
          }
        },
        // 连接钱包
        async connectWallet() {
          this.checkMetaMask();
          const accounts = await ethereum.request({
            method: "eth_requestAccounts",
          });
          this.account = accounts[0];
          this.isConnected = true;
          if (this.account) this.getCounts();
        },
        async getCounts() {
          const counts = await CounterContract.getCounts();
          this.counts = counts.toNumber();
        },
        async sayHi() {
          this.hi_loading = true;
          let tx = await CounterContract.add();
          await tx.wait();
          console.log("finish")
          this.hi_loading = false;
          this.getCounts();
        },
      },
    });
    app.mount("#app");
  </script>
</html>
